<!DOCTYPE html>
{% set contact_email = 'formacion@imaginagroup.com' %}
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}<header class="col-md-offset-4 col-md-4">WELCOME TO YOUR LIBRARY</header>{% endblock %}

        {% block footer %}<footer class="navbar-fixed-bottom" style="height: 50px; background-color: #2b669a; color: #fff;"><h4 class="pull-right">Contacto: {{ contact_email }}</h4></footer>{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>

            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
